@import 'src/styles/utils/variables';
@import 'src/styles/blocks/header';
@import 'src/styles/blocks/card';
@import 'src/styles/blocks/stars';

html {
  font-family: $main-font-family;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
